*{
  padding: 0;
  margin:0;
}
.menu-bar{
  background: rgb(red, green, blue);
  text-align: center;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: lavenderblush;
}
.menu-bar ul li{
  width:100px;
  margin: 10px;
  padding:5px;
}
.menu-bar ur li a{
  text-decoration: none;
  color: violet;
}
.active,.menu-bar ul li:hover
{
  background-color: violet;
border-radius: 3px;
}
.menu-bar.fa{
  margin-left: 5px;
}
