*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0,0,0.0), white), url(0.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  width:90%;
  max-width: 600px;
}
.input-group{
  margin-bottom: 30px;
  position: relative;
}
input,textarea
{
  width: 100%;
  padding: 10px;
  outline:0;
  border: 1px solid black;
  color: black;
  background: transparent;
  font-size: 10px;
}

label{
  height: 100%;
  position: absolute;
  left:0;
  top: 0;
  padding: 8px;
  color: black;
  cursor: text;
  
}
button{
  padding: 10px 0;
  color: black;
  outline: none;
  background: transparent;
  border: 1px solid black;
  width: 100px;
  cursor: pointer;
  align-items: center;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
  top: -35px;
  font-size: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row,.input-group{
flex-basis:48%;
}
.menu-bar{
  background: rgb(red, green, blue);
  text-align: center;
  font-size: 50px;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: lavenderblush;
}
.menu-bar ul li{
  width:40px;
  margin: 5px;
  padding:1px;
}
.menu-bar ur li a{
  text-decoration: none;
  color: white;
}
.active,.menu-bar ul li:hover
{
  background-color: violet;
border-radius: 1px;
}
.menu-bar.fa{
  margin-right: 5px;
}
@media(max-width:100px){
body{
  flex-direction: row;
}
}
@media(max-width:350px){
  body{
    flex-direction: column;
  }
  .menu-bar{
    font-size: 1px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
img{
  max-width: 100%;
  width: 100%
}